<!DOCTYPE html>

<title>Resultat index</title>

{% block body %}
    <h1>Resultat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Resultatid</th>
                <th>Questionnairedate</th>
                <th>Score</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for resultat in resultats %}
            <tr>
                <td>{{ resultat.resultatid }}</td>
                <td>{{ resultat.questionnairedate ? resultat.questionnairedate|date('Y-m-d') : '' }}</td>
                <td>{{ resultat.score }}</td>
                <td>
                    <a href="{{ path('app_resultat_show', {'resultatid': resultat.resultatid}) }}">show</a>
                    <a href="{{ path('app_resultat_edit', {'resultatid': resultat.resultatid}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_resultat_new') }}">Create new</a>
{% endblock %}
